<%- include('header'); -%>


<div class="signin-form">
  <form action="/login" method="post">
  <h2>Sign in</h2>
      <p class="hint-text">Sign in with your social media account</p>
  <div class="social-btn text-center">
    <a href="/auth/facebook" class="btn btn-primary btn-lg" title="Facebook"><i class="fa fa-facebook"></i></a>
    <a href="/auth/google" class="btn btn-danger btn-lg" title="Google"><i class="fa fa-google"></i></a>
  </div>
  <div class="or-seperator"><b>or</b></div>
      <div class="form-group">
        <input type="email" class="form-control input-lg" name="username" placeholder="your Email" required="required">
      </div>
  <div class="form-group">
          <input type="password" class="form-control input-lg" name="password" placeholder="Password" required="required">
      </div>  
      <div class="form-group">
          <button type="submit" class="btn btn-success btn-lg btn-block signin-btn">Sign in</button>
      </div>
      <% if (wrong) { %>
        <div class="alert alert-danger animate" role="alert">
          Wrong Password or email
        </div>
      <% } %>
      <div class="text-center small">Don't have an account? <a href="/signup">Sign up</a></div>
  </form>
  
 
</div>





<%- include('footer'); -%>