/* the nav bar style */

body {
    background: rgb(10,1,14);
background: linear-gradient(90deg, rgba(10,1,14,1) 25%, rgba(98,9,9,1) 49%, rgba(10,1,14,1) 71%);
    margin: 0;
    padding: 0;
    font-family: 'Sriracha', cursive;



}



.navbar {

    margin-bottom: 1rem;
}

.nav1 a {
    color: #fa1616;
}



.navbar-brand {
    position: relative;
    left: 10%;
    font-size: 3rem;
    font-family: 'Great Vibes', cursive;
}

.nav-item {
    margin: 0 1.5rem;
    font-size: 1.5rem;
    font-family: 'Sriracha', cursive;
}

.navbar-nav {
    position: relative;
    left: 50%;
}

.fixplace {
    left: 30%;
}

/* toggle button */

.btn1 {
    background-color: #fa1616;
    color: white;
}

.btn1:hover {
    background-color: #092532;
    color: white;
}

.navbar-toggler-icon {
    color: white;
}

.fa-angle-double-down {
    font-size: 30px;
}

.full{
    position: absolute;
    right: 10px;
    font-size: 1.5rem;
    top: 15%;
    background-color: inherit;
    border: none;
    color: red;
}
.full:hover{
    color: blue;
}

/* **************************** */


/* carousel */

.testimonial {
    text-align: center;
    color: black;
    margin-top: 1rem;
}

.carousel-item {
    padding: 0 10%;
}


.carousel-item img {
    width: 250px;
    height: 300px;
    float: left;
}

.carousel-control-next {
    right: 0;

}

.carousel-control-prev {
    left: 0;

}
.carousel-caption{
height: 300px;
overflow: auto;
}

.carousel-item div {
    position: relative;
    float: left;
    margin-left: -10%;
    margin-top: 2%;
    text-align: left;
    width: 70%;
}

.carousel-caption h5 {
    font-family: 'Sriracha', cursive;
}

.carousel-caption p {
    font-family: 'Baloo 2', cursive;
}



/* Card style    */

.Content {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
}

.MovieItem {
    width: 234px;
    height: 290px;
    margin: 0 8px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-bottom: 9px;

    background: #171717;
    border-radius: 15px;
    box-shadow: 0 2px 6px #00000085;
    display: inline-block;
}

.numr {
    position: absolute;
    top: 5px;
    right: 5px;
    background: #030924;
    z-index: 9999;
    color: #fff;
    padding: 0 5px;
    border-radius: 50px;
    line-height: 28px;
    font-size: 13px;
    box-shadow: 0 1px 5px #002cff;
    box-shadow: 0 0 15px rgb(3, 9, 36);
    font-weight: 700;

}

.MovieItem .BGMovieItem {

    top: 0;
    right: 0;
    width: 100%;

    z-index: 9;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0px 0px 10px #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 100%;
}



.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #350E0F;
    overflow: auto;

}

.content::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

/* Track */
.content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(41, 2, 2);
    border-radius: 10px;
}




/* Handle on hover */
.content::-webkit-scrollbar-thumb {
    background: #404040;
}

.content::-webkit-scrollbar-thumb:hover {
    background: #505050;
}

.content::-webkit-scrollbar-thumb:active {
    background: #404040;
}

/* Buttons */
.content::-webkit-scrollbar-button {
    border-style: solid;
    height: 16px;
    width: 16px;
}


/* Up */
.content::-webkit-scrollbar-button:vertical:decrement {
    border-width: 0 7px 14px 7px;
    border-color: transparent transparent #404040 transparent;
}

.content::-webkit-scrollbar-button:vertical:decrement:hover {
    border-color: transparent transparent #505050 transparent;
}


/* Down */
.content::-webkit-scrollbar-button:vertical:increment {
    border-width: 14px 7px 0 7px;
    border-color: #404040 transparent transparent transparent;
}

.content::-webkit-scrollbar-button:vertical:increment:hover {
    border-color: #505050 transparent transparent transparent;
}

.MovieItem .content:hover {
    opacity: 1;
}




.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

    padding-top: 40px;

}



.mid-nav {
    width: 100%;
    text-align: center;
    margin: 6px 0;
    border-radius: 30%;
    padding: 10px 0 0 0;
    color: white;
    font-family: 'Great Vibes', cursive;

}

.mid-nav select {
    border: node;
    background-color: inherit;
    text-align: center;
    width: 50%;
    color: white;
    text-align-last: center;
    font-size: 3rem;
    border: 0px;
    outline: 0px;
}

select option {
    margin: 40px;
    background: black;
    color: red;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    border: 0px;

}


select option[value="1"] {
    background: rgb(49, 3, 17);
}

select option[value="2"] {
    background: rgb(49, 3, 17);
}

/*Log in style */
.container .card {
    background-color: inherit;
    border: none;

}

.container {
    color: red;
}

footer {
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: inherit;
    color: #a6dcef;
}

/*For Error Massege*/
.animate {
    animation-name: shake, glow-red;
    animation-duration: 0.7s, 0.35s;
    animation-iteration-count: 1, 2;
}

@keyframes shake {

    0%,
    20%,
    40%,
    60%,
    80% {
        transform: translateX(8px);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-8px);
    }
}

@keyframes glow-red {
    50% {
        border-color: indianred;
    }
}

/*Anime Page style */
.top-page {
    width: 100%;
    text-align: center;
}

.top-page img {
    width: 320px;
    height: 420px;

}

.textedit {
    color: white;
    margin-top: 20px;
    margin-right: 30px;
    text-align: center;
    overflow: auto;
    width: 60%;
    float: right;
    height: 420px;
}

.textedit::-webkit-scrollbar {
    width: 20px;
    height: 5px;
}

/* Track */
.textedit::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(41, 2, 2);
    border-radius: 10px;
}




/* Handle on hover */
.textedit::-webkit-scrollbar-thumb {
    background: #404040;
}

.textedit::-webkit-scrollbar-thumb:hover {
    background: #505050;
}

.textedit::-webkit-scrollbar-thumb:active {
    background: #404040;
}

/* Buttons */
.textedit::-webkit-scrollbar-button {
    border-style: solid;
    height: 16px;
    width: 16px;
}


/* Up */
.textedit::-webkit-scrollbar-button:vertical:decrement {
    border-width: 0 7px 14px 7px;
    border-color: transparent transparent #404040 transparent;
}

.textedit::-webkit-scrollbar-button:vertical:decrement:hover {
    border-color: transparent transparent #505050 transparent;
}


/* Down */
.textedit::-webkit-scrollbar-button:vertical:increment {
    border-width: 14px 7px 0 7px;
    border-color: #404040 transparent transparent transparent;
}

.textedit::-webkit-scrollbar-button:vertical:increment:hover {
    border-color: #505050 transparent transparent transparent;
}

.catagories {
    padding: 10px;
    margin-right: 1rem;
    font-size: 1.5rem;
    text-align: center;

}


.catagories a {
    border: 3px;
    color: white;
}

.middle {
    background: rgb(3, 17, 20);
    background: linear-gradient(6deg, rgba(3, 17, 20, 1) 19%, rgba(179, 50, 61, 0.5161414907759979) 51%, rgba(2, 0, 36, 1) 82%);
    clear: both;
    text-align: right;

}

.comment {
    background-color: inherit;
    text-align: right;
    color: red;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    clear: both;
    padding-bottom: 20px;
}

.comment h3 {
    float: right;
    padding-left: 1rem;
}

.comment p {
    padding-top: 5px;
}

.no-comments {
    color: red;
    font-size: 2rem;
    text-align: right;
    padding-right: 2rem;
    clear: both;
}

/* admin page */
.admin a:hover {
    text-decoration: none;
}

.admin .row {
    margin: 0 auto;
    text-align-last: center;
}


/* side nav */


.side ul {
    clear: both;
    position: fixed;
    display: block;
    list-style-type: none;
    right: -3.2em;
    top: 15%;
    -webkit-animation: slideright 1s forwards;
    -webkit-animation-delay: 1.5s;
    animation: slideright 1s forwards;
    animation-delay: 1.5s;
}

@keyframes slideright {
    100% {
        right: 0;
    }
}

.side li {
    margin-bottom: 40px;
    margin-right: -20px;
    padding: 15px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    background-color: rgba(30, 45, 127, 0.75);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    -webkit-transition: width .5s, background-color .1s;
    transition: width .5s, background-color .1s;

}

.side a li {
    font-size: 19px;
    text-transform: none;
    text-align: center;
    text-decoration: none;
    color: #ebebeb;
}

.side li:hover {
    background-color: rgba(30, 45, 127, 1);
    color: #fff;
}


/*EP page style */
.list-group {
    overflow: auto;
    height: 300px;
    background-color: inherit;
}

.list-group-item {
    color: white;
    background-color: inherit;
    font-size: 1.2rem;
}

.list-group-item.active {
    background-color: red;
}

.icon-view {
    position: absolute;
    left: 8px;
    border: 2px solid #030924;
    background: #1E0438;
    color: red;
    text-align: center;
    padding-left: 4px;
    top: 50%;
    width: 30px;
    height: 30px;
    line-height: 24px;
    border-radius: 100%;
    margin-top: -13px;
    z-index: 9999;
}

.list-group-item:hover {
    background-color: #e84545;
    color: rgba(2, 0, 36, 1);
}

.list-group-item:hover .icon-view {
    background-color: red;
    color: #1E0438;
}

.list-group::-webkit-scrollbar {
    width: 20px;
    height: 5px;
}

/* Track */
.list-group::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(41, 2, 2);
    border-radius: 10px;
}




/* Handle on hover */
.list-group::-webkit-scrollbar-thumb {
    background: #404040;
}

.list-group::-webkit-scrollbar-thumb:hover {
    background: #505050;
}

.list-group::-webkit-scrollbar-thumb:active {
    background: #404040;
}

/* Buttons */
.list-group::-webkit-scrollbar-button {
    border-style: solid;
    height: 16px;
    width: 16px;
}


/* Up */
.list-group::-webkit-scrollbar-button:vertical:decrement {
    border-width: 0 7px 14px 7px;
    border-color: transparent transparent #404040 transparent;
}

.list-group::-webkit-scrollbar-button:vertical:decrement:hover {
    border-color: transparent transparent #505050 transparent;
}


/* Down */
.list-group::-webkit-scrollbar-button:vertical:increment {
    border-width: 14px 7px 0 7px;
    border-color: #404040 transparent transparent transparent;
}

.list-group::-webkit-scrollbar-button:vertical:increment:hover {
    border-color: #505050 transparent transparent transparent;
}


.epNumber {
    clear: both;
    margin: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.table {
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 50%;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: inherit;
}

/*favarate*/
.fava {
    background-color: red;
    position: absolute;
    bottom: auto;
    color: white;

}
.bootstrap-select .dropdown-menu li {
    padding: 20px;
}

/* login*/
.form-control {
    font-size: 16px;
    transition: all 0.4s;
    box-shadow: none;
}

.form-control:focus {
    border-color: red;
}

.form-control,
.btn {
    border-radius: 50px;
    outline: none !important;
}

.signin-form {
    width: 390px;
    margin: 0 auto;
    color: red;
}

.signin-form form {
    margin-bottom: 20px;
    background: inherit;
    padding: 0 40px 40px 40px;
}

.signin-form a {
    color: blue;
}

.signin-form h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
}

.signin-form .hint-text {
    color: #999;
    text-align: center;
    margin-bottom: 20px;
}

.signin-form .form-group {
    margin-bottom: 20px;
}

.signin-form .btn {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

.signin-form .small {
    font-size: 13px;
}

.signin-btn {
    text-align: center;
    background-color: red;
    transition: all 0.4s;
    border: none;
}

.signin-btn:hover {
    background-color: black;
    opacity: 0.8;
}

.or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.or-seperator b {
    padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}

.social-btn .btn {
    color: #fff;
    margin: 10px 0 0 30px;
    font-size: 15px;
    width: 55px;
    height: 55px;
    line-height: 45px;
    border-radius: 50%;
    font-weight: normal;
    text-align: center;
    border: none;
    transition: all 0.4s;
}

.social-btn .btn:first-child {
    margin-left: 0;
}

.social-btn .btn:hover {
    opacity: 0.8;

}

.social-btn .btn-primary {
    background: #507cc0;
}

.social-btn .btn-info {
    background: #64ccf1;
}

.social-btn .btn-danger {
    background: #df4930;
}

.social-btn .btn i {
    font-size: 20px;
}

/* mobile settings */
@media (max-width: 1199.98px) {
   
}


@media (max-width: 991.98px) {
    .ite{
        text-align: center;
    }
    .btn2{
        text-align: center;
        margin: 0 auto;
        border-radius: 50px;
        outline: none !important;
    }
    form-inline .form-control {
        width: 70%;
        margin-right: 2%;
    }

    .navbar-nav {
        position: relative;
        left: auto;
    }

    .navbar-brand {
        position: unset;
       text-align: center;
       margin: 0 auto;
        width: 100%;
        
    }
    .carousel-item img {
        width: 40%;
        

    }
    .table{
        width: 100%;
    }
    .textedit{
        width: 50%;
    }
    .top-page img{
        width: 40%;
        float: right;
    }

}

@media (max-width: 767.98px) {

    /* nav bar in mobile */
    .btn1 {
      
    }
    .ite{
        text-align: center;
    }
    .btn2{
        text-align: center;
        margin: 0 auto;
        border-radius: 50px;
        outline: none !important;
    }
    form-inline .form-control {
        width: 70%;
        margin-right: 2%;
    }

    .navbar-nav {
        position: relative;
        left: auto;
    }

    .navbar-brand {
        position: unset;
       text-align: center;
       margin: 0 auto;
        width: 100%;
        
    }

    /*.nav-item{
       
    }*/

    .carousel {
        width: 100%;
        height: 20%;
        position: relative;
        right: 30px;
    }

    .carousel-item img {
        width: 40%;
        

    }

    .MovieItem {
        width: 190px;
        height: 250px;

    }

    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }

    .top-page img {
        margin: 0 auto;
        float: none;
        clear: both;
        width: 60%;
    height: 350px;
    }

    .textedit {
        position: none;
        float: none;
        clear: both;
        margin-right: auto;
    margin-left: auto;
    width: fit-content;

    }
}

@media (max-width: 441.98px) {

    .signin-form {
        width: 100%;
    }

    .fava{
        
    }

}

@media (max-width: 575.98px) {
    .form-inline .form-control {
        width: 70%;
        margin-right: 2%;
    }
   
}





